* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lavender;
}
#container {
    width: 50%;
    height: 60rem;
    margin-left: 25%;
    margin-top: 4rem;
    border: 1px solid blanchedalmond;
    background-color: lavenderblush;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 55px 55px 55px 55px;
}

#numberField {
    width: 90%;
    border-radius: 100px;
}

#labelBarre {
    margin-top: 4rem;
}

#en-tete {
    margin-top: 2rem;
}

#result {
    width: 80%;
    margin-left: 10%;
    background-color: white;
    height: 30rem;
    margin-top: 5rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

#result p {
    margin-left: 4rem;
}
